/* List of items in App.js  */
.item-list {
  align-items: center;
  background-color: #ccc;
  border: 1px solid #333;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
  min-height: 200px;
  padding: 15px;
  width: 500px;
}

.item-list li {
  font-size: 17px;
  font-weight: bold;
  list-style: none;
}

/* HeaderComponent.js nav */

.horizontal-list {
  align-items: center;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  justify-content: space-evenly;
  padding: 0;
  width: 500px;
}

.horizontal-list li {
  cursor: pointer;
  display: inline;
  list-style: none;
  opacity: 0.6;
}

.horizontal-list li:hover {
  opacity: 1;
  text-decoration: underline;
}

